.transactionHistory {
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.transactionHistory thead {
  background: rgb(31, 189, 212);
  text-transform: uppercase;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  text-align: center;
}

.transactionHistory th:not(:last-child),
.transactionHistory td:not(:last-child) {
  border-right: 1px solid rgba(232, 232, 232);
}

.transactionHistory tbody {
  color: rgb(84, 93, 99);
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: rgb(236, 242, 244);
}

.transactionHistory tbody tr td:first-child {
  text-transform: capitalize;
}
